@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Epilogue", sans-serif;
}

.cabecalho-nav{
    margin: 3em;
    display: flex;
    flex-direction: row;
    gap: 550px;
}

.cabecalho-nav-paragrafo{
    font-weight: 900;
    color: #6E26B7;
    font-size: 25px;
}

.cabecalho-nav-menu{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.cabecalho-nav-menu-item{
    list-style: none;
    font-weight: 700;
}

.cabecalho-nav-menu-item a{
    text-decoration: none;
    color: #343131;
}

.cabecalho-nav-menu-item a:hover{
    color: #6E26B7;
}

.cabecalho-nav-btnDarkMode{
    width: 35px;
    height: 31px;
    background-color: #FCFDFF;
    border: solid 1px #343131;
    border-radius: 4px;
    cursor: pointer;
}

.cabecalho-nav-btnDarkMode:hover{
    background-color: #aaa9a9;
}

.container{
    display: flex;
    flex-direction: row;
    margin: 5em 20em;
    height: 66vh;
}

.container-texto{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 5em;
    color: #343131;
    gap: 1em;
}

.container-texto-titulo{
    color: #6E26B7;
    font-size: 36px;
    font-weight: 600;
}

.container-texto-paragrafo-destaque{
    font-size: 18px;
    font-weight: 600;
}

.container-texto-paragrafo{
    font-size: 16px;
    font-weight: 500;
    opacity: 70%;
    width: 480px;
}

.container-texto-btn{
    margin-top: 2em;
    width: 163px;
    border-radius: 8px;
    border: none;
    background-color: #6E26B7;
    color: #FCFDFF;
    cursor: pointer;
    text-align: center;
    padding: 1em;
    text-decoration: none;
}

.container-texto-btn:hover{
    background-color: #341159;
}

.container-imagem{
    width: 50%;
}

.container-projetos{
    margin: 5em;
}

.container-projetos-card{
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.container-projetos-card-img{
    width: 350px;
}

.container-projetos-card-btn-github{
    background-color: #6E26B7;
    padding: 0.3em;
    border: none;
    border-radius: 8px;
}

.container-projetos-card-btn-github img{
    width: 20px;
}

.rodape{
    background-color: #6E26B7;
    height: 8vh;
    text-align: center;
    color: #FCFDFF;
    font-size: 14px;
    font-weight: 300;
}

.rodape-paragrafo-destaque{
    padding-top: 1em;
}

.rodape-paragrafo{
    padding-top: 1em;
    opacity: 50%;
}